#box{
    width: 100%;
    height: 100vh;
}

#hour{
    width: 100px;
}

#minute{
    width: 100px;
}

#second{
    width: 100px;
}

#divHide{
    visibility: hidden;
}

#divAble{
    visibility: visible;
}

#bigFont{
    font-size: xx-large;
}

#finishButton, #startButton{
    font-size: large;
}